html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loading{
  padding-top: 4em;
  padding-bottom: 4em;
  top:50%;
}

.container {
  text-align: center;
  padding-top:15%;
}

@media (max-width: 535px) {
  .container {
    text-align: center;
    padding-top:50%;
  }
}
